{% layout 'theme-fomo' %}

<section class="section">
  <div
    class="
      container
      content
      page
    "
  >
    <div class="pg-in-heading">
      {% include 'fomo-page-header' %}
    </div>
    
    <div class="pg-in-content">
      <h1 class="fomo-title">We’ll be in touch soon</h1>
      <div class="fomo-desc">
        Thanks for reaching out, we will be in touch within a few days to discuss influencer collaborations with Roma Boots.
      </div>
      <div class="fomo-panel">
        <a class="fomo-submit" href="https://romaboots.com">Back to roma boots</a>
      </div>      
    </div>
  </div>
</section>




